.downloader-container {
    text-align: center;
    margin: 20px;
  }
  .input-box {
    width: 60%;
    padding: 10px;
    border: 2px solid #ff4b2b;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  .download-btn {
    margin-left: 10px;
    background: #ff416c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .download-btn:hover {
    background: #ff4b2b;
  }
